NODE_ENV=production
POSTGRES_PORT=5101
POSTGRES_DB=zeroquest
POSTGRES_USER=admin
POSTGRES_PASSWORD=strong_password_here
PGADMIN_PORT=5050
PGADMIN_DEFAULT_EMAIL=postgress@mail.com
PGADMIN_DEFAULT_PASSWORD=strong_password_here

REDIS_PORT=5102

PORT=4000
HOST=127.0.0.1

# This was inserted by `prisma init`:
# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

DATABASE_URL="postgresql://admin:strong_password_here@127.0.0.1:5101/zeroquest"

AUTH_JWT_SECRET="vpn-shop-local-super-secret-key"
AUTH_JWT_EXPIRES_IN="30d"
APP_DATA_ENCRYPTION_KEY=""
THREE_X_UI_PROTOCOL="https"
THREE_X_UI_HOST=""
THREE_X_UI_PORT=""
THREE_X_UI_WEB_BASE_PATH=""
THREE_X_UI_USERNAME=""
THREE_X_UI_PASSWORD=""
THREE_X_UI_TIMEOUT_MS=10000
YOOKASSA_API_TOKEN=""
YOOKASSA_SHOP_ID=""
YOOKASSA_REDIRECT_TO=""
